@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: 'KaiGen Gothic', 'Noto Sans TC', 'Noto Serif TC', sans-serif;
}
ul, li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
@media (min-width: 576px) {
    .col-form-label {
        text-align: right;
    }
}
/*timer*/
.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /*wrapper background color*/
}
.wrapper.hide {
    z-index: -10000;
    background-color: transparent;
}
.wrapper.hide .timer {
    display: none;
}
.wrapper.hide .confirmBox {
    display: none;
}
.timer, .noticeBox, .confirmBox {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    background-color: #F4F29B;
    /*timer background color*/
    white-space: nowrap;
    box-shadow: 0px 0px 5px 2px #33333380;
}
.timer {
    position: absolute;
    z-index: 10000;
}
.noticeBox, .confirmBox {
    width: 75%;
    align-items: center;
    height: 75%;
}
.noticeText, .confirmText {
    background-color: #FFFFFF;
    overflow-y: scroll;
    margin: 1em;
    padding: 1em;
    padding-left: 2em;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    line-height: 1.5;
    text-align: left;
    border-radius: 0.2em;
    border: 0.05em #8695A3 solid;
    white-space: normal;
}
.noticeText.init-notice p, .confirmText.init-notice p {
    margin-bottom: 1em;
    text-indent: -1em;
}
.noticeText.init-notice p:nth-last-child(1), .confirmText.init-notice p:nth-last-child(1) {
    margin-bottom: 0;
}
.noticeText.init-notice p::before, .confirmText.init-notice p::before {
    content: '👉';
}
.closeBtn, .submitBtn {
    border: 0.1em #8695A3 solid;
}
.closeBtn, .submitBtn {
    position: absolute;
    display: flex;
    bottom: -1em;
}
.closeBtn {
    justify-content: center;
    align-items: center;
    right: calc(50%-3em);
    left: calc(50%-3em);
}
.closeBtn.checkout {
    margin-right: 1em;
    right: 50%;
}
.submitBtn.checkout {
    margin-left: 1em;
    left: 50%;
}
/*main*/
body {
    margin: 2em;
    background-color: #F8F8F6;
    /*body background color*/
}
footer {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}
footer a {
    font-size: 1em;
    text-decoration: underline;
}
footer, footer a {
    color: #8695A3;
    /*footer text color*/
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
section#cart {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
a {
    text-decoration: none;
}
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}
#intro {
    font-size: 0.8em;
    line-height: 1.5;
}
#intro p {
    margin-bottom: 1em;
}
#intro .cover {
    width: 100%;
    position: relative;
}
.cover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 1em 1em #F8F8F6 inset;
}
#intro .cover img {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
}
.hide {
    display: none;
}
.grid {
    width: 100%;
    margin-bottom: 0.5em;
}
.title {
    width: 100%;
    margin-bottom: 0;
    padding: 0.5em;
    padding-bottom: 0;
    font-size: 2em;
    font-weight: 500;
}
.info {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 1em;
    border-bottom: 0.02em #8695A3 solid;
    /*border line*/
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
}
.info p {
    margin-bottom: 1em;
}
.info p:nth-last-child(1) {
    margin-bottom: 0;
}
#info>.title, #cart>.title {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-bottom: 0.02em #8695A3 solid;
    /*border line*/
}
#timer {
    font-size: 0.6em;
    line-height: 1.5em;
}
#fulfilled {
    margin-left: 2em;
    font-size: 0.6em;
    line-height: 1.5em;
}
#fulfilled.fulfilled {
    color: #4A8007;
    font-weight: 700;
}
#fulfilled>em, #totalFixed>em {
    font-style: normal;
    font-size: 1.2em;
    font-weight: 1000;
    color: #CC3333;
}
#totalFixed>em {
    font-size: 1em;
}
.radio .dateBtn {
    border: 0.05em #ced4da solid;
}
.radio .dateBtn:hover {
    background-color: #708777;
    color: #FFFFFF;
}
.radio .dateBtn.active {
    color: #FFFFFF;
    background-color: #264B47;
    border: 0.05em #264B47 solid;
    cursor: default;
}
.radio .dateBtn[disabled] {
    opacity: 0.3;
    background-color: #DEDCD2;
    color: #AAA;
    cursor: default;
}
/*product container*/
.container {
    display: flex;
    justify-content: center;
    /*主軸-H*/
    flex-wrap: wrap;
    margin-bottom: 1.5em;
    border-left: 0.02em #8695A3 solid;
    border-right: 0.02em #8695A3 solid;
    margin-left: -0.02em;
    margin-right: -0.02em;
    width: 14em;
}
.container>* {
    justify-content: center;
    /*主軸-H*/
    width: 100%;
    margin: 0.5em 0.5em 0;
}
.container>*:nth-last-child(1) {
    margin: 0.5em;
}
.container .pic {
    height: 10em;
}
.container .pic img {
    width: 100%;
    height: 100%;
}
.container .goods, .price {
    text-align: center;
    overflow: hidden;
}
.container .goods {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.container .price {
    font-size: 1.2em;
}
.container .price .priceText::before {
    content: '$';
}
.container .orderContainer {
    justify-content: center;
}
.container .orderContainer .meta {
    justify-content: center;
    margin-bottom: 0.5em;
}
.container .orderContainer .meta.upper {
    margin-bottom: 0em;
}
.container .orderContainer .meta>* {
    justify-content: center;
    font-size: 0.75em;
    background-color: #28a74533;
    border: 0.05em #8695A3 solid;
    border-radius: 0.2em;
    color: #597249;
    cursor: default;
    font-weight: 500;
}
.container .orderContainer .meta .disabled {
    background-color: #dc354533;
    color: #FF0000;
}
.container .orderContainer .order {
    justify-content: center;
}
.container .orderContainer .order .quantity[type="number"] {
    text-align: center;
    -moz-appearance: textfield;
}
.container .orderContainer .order .quantity[type="number"]::-webkit-inner-spin-button, .container .orderContainer .order .quantity[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
.dec, .inc, .remove {
    border: 0.05em #ced4da solid;
    font-size: 0.8em;
}
/*validate text*/
.help-block.error {
    /*錯誤提示文字*/
    color: #FF0000;
    font-size: 0.8em;
    font-weight: 500;
}
.help-block.error.memberText, .help-block.error.couponText {
    color: #597249;
}
.has-success {
    /*正確欄位*/
    background-color: #D9F3D6;
}
.has-success .btn.dropdown-toggle, .has-success .dateBtn {
    border-color: #28A745;
}
.has-error {
    /*錯誤欄位*/
    background-color: #FFC9C9;
}
.has-error .btn.dropdown-toggle, .has-error .dateBtn {
    border-color: #dc3545;
}
.zero {
    background-color: #FFC9C9;
}
/*cart table*/
table {
    margin-top: 1em;
    margin-bottom: 3em;
    border-collapse: collapse;
}
tbody:nth-child(odd) {
    background-color: #CCC;
}
tr {
    height: 3em;
    line-height: 3em;
    border-bottom: 0.05em #8695A3 solid;
}
thead tr {
    background-color: #264B47;
    color: #FFFFFF;
}
thead tr:hover {
    background-color: #264B47;
    color: #FFFFFF;
}
tr:hover {
    background-color: #FFC;
    font-weight: 700;
}
th {
    text-align: center;
}
td {
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 0.8em;
}
tr td div {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr td div>* {
    display: flex;
    height: 100%;
    width: 100%;
    border: 0.05em #8695A3 solid;
    border-radius: 0.2em;
}
/*fixed items*/
.cart-fixed:hover #totalFixed::after {
    content: '｜點我跳到結帳區';
}
#totalFixed:hover::after {
    content: '｜點我跳到結帳區';
}
@media only screen and (min-width: 769px) {
    #fulfilled {
        display: none;
    }
    /*validate - form info row*/
    label {
        text-align: right;
        margin-right: 0.75em;
    }
    .help-block.error {
        margin-left: 0.4em;
    }
    .section-fixed li>ul {
        display: none;
    }
    .section-fixed:hover ul li {
        opacity: 1;
        border-radius: 0.5em 0.5em 0 0;
    }
    table {
        width: 80%;
    }
}
@media only screen and (max-width: 768px) {
    main {
        margin-top: 8em;
        margin-bottom: 10em;
    }
    .radio {
        display: flex;
        flex-direction: column;
    }
    /*validate - form info row*/
    .form-control+.messages, .radio+.messages {
        align-items: center;
        /*交叉軸-V*/
    }
    label {
        padding-left: 0.5em;
        margin-bottom: 0.5em;
        width: 100%;
    }
    .help-block.error {
        padding-left: 0.5em;
        margin-top: 0.5em;
    }
    table {
        width: 100%;
    }
}
@media only screen and (min-width: 769px) {
    #timer, #navBtn {
        display: none;
    }
    /*fixed-container*/
    .fixed-container {
        /*fixed items*/
        height: auto;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 2em;
        right: 2em;
        z-index: 100;
    }
    .fixed-container * {
        text-align: center;
    }
    .fixed-container .timer-fixed {
        display: flex;
        justify-content: flex-end;
        margin-bottom: -0.5em;
        padding: 0.5em;
    }
    /*cart-fixed*/
    .cart-fixed {
        padding: 0.5em;
    }
    .cart-fixed>.fixed {
        padding: 0.5em;
        display: block;
        opacity: 0.9;
        color: #000000;
        font-weight: 700;
    }
    .cart-fixed .fixed:hover {
        font-weight: 1000;
        opacity: 1;
    }
    .cart-fixed:hover .fixed {
        font-weight: 1000;
        opacity: 1;
    }
    .cart-fixed .bg {
        box-shadow: 0.05em 0.05em #DEDCD2;
    }
    .cart-fixed:hover .bg {
        border: 0.05em #264B47FF solid;
    }
    .cart-fixed .bg {
        border: 0.05em #264B473F solid;
        border-radius: 0.5em;
    }
    .cart-fixed .bg:hover {
        opacity: 1;
        border: 0.05em #264B47FF solid;
    }
    /*section-fixed*/
    .section-fixed {
        padding: 0.5em;
        margin-top: -0.5em;
    }
    .section-fixed:hover {
        opacity: 1;
        border-radius: 0.5em 0.5em 0 0;
    }
    .section-fixed>ul {
        box-shadow: 0.05em 0.05em #DEDCD2;
        border-radius: 0.5em;
    }
    .section-fixed li>ul:hover {
        display: block;
        position: relative;
        right: 0em;
    }
    .section-fixed:hover li>ul {
        display: block;
        position: relative;
        right: 0em;
    }
    .section-fixed>ul>.fixed {
        display: block;
        padding: 0.5em;
        opacity: 0.9;
        color: #000000;
        font-weight: 700;
        font-size: 0.9em;
    }
    .section-fixed>ul>li a {
        display: block;
        padding: 0.5em;
        opacity: 0.9;
        color: #000000;
        font-weight: 700;
        border-radius: 0;
    }
    .section-fixed>ul>li>ul>li:nth-last-child(1) a {
        border-radius: 0 0 0.5em 0.5em;
    }
    .section-fixed li.bg {
        background-color: #DEDCD2;
    }
    .section-fixed li li a.bg {
        background-color: #DEDCD2;
    }
    .section-fixed li li a.bg:hover {
        color: #FFFFFF;
        background-color: #264B47;
    }
    .section-fixed .bg {
        border: 0.05em #264B473F solid;
    }
    .section-fixed .fixed.bg {
        border-radius: 0.5em;
    }
    .section-fixed:hover .fixed.bg {
        border-radius: 0.5em 0.5em 0 0;
    }
    .section-fixed .bg:hover {
        opacity: 1;
        border: 0.05em #264B47FF solid;
        color: #FFFFFF;
        background-color: #264B47;
    }
    nav li a.zero {
        background-color: #FFC9C9;
    }
    nav li a.nonZero {
        background-color: #D9F3D6;
    }
}
@media only screen and (max-width: 768px) {
    .header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
        left: 0;
    }
    h1 {
        margin: 0;
        padding-top: calc(1em / 1.5);
        padding-bottom: calc(1em / 1.5);
        padding-left: calc(2em / 1.5);
        padding-right: calc(2em / 1.5);
        font-size: calc(1em * 1.5);
        line-height: calc(2em / 1.5);
        width: 100%;
        font-weight: 700;
        background-color: #DEDCD2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    h1 span {
        font-weight: 500;
    }
    button#navBtn {
        position: fixed;
        top: 1em;
        right: 2em;
        height: 2em;
        width: 2em;
        border: 0.05em #8695A3 solid;
        background-color: #DEDCD2;
        text-align: center;
        border-radius: 0.2em;
    }
    button#navBtn:hover {
        background-color: #708777;
        border: 0.05em #264B47 solid;
        color: #FFFFFF;
    }
    button#navBtn.active {
        background-color: #264B47;
        border: 0.05em #264B47 solid;
        color: #FFFFFF;
    }
    nav {
        display: none;
        position: fixed;
        width: 100%;
    }
    nav.active {
        display: block;
    }
    nav * {
        width: 100%;
    }
    nav li {
        display: flex;
        background-color: #DEDCD2;
    }
    nav li.bg {
        display: none;
    }
    nav .timer-fixed {
        display: none;
    }
    nav a {
        color: #000000;
        padding-left: calc(2em / 1);
        height: calc(2em / 1);
        width: 100%;
        line-height: calc(2em / 1);
        font-size: calc(1em * 1);
    }
    nav li:hover {
        background-color: #264B47;
    }
    nav a:hover {
        color: #FFFFFF;
        font-weight: 700;
    }
    nav li a.zero {
        color: #000000;
        background-color: #FFC9C9;
    }
    nav li a.nonZero {
        color: #000000;
        background-color: #D9F3D6;
    }
}
.btn {
    display: flex;
}
.btn.dropdown-toggle {
    background-color: #FFF;
    border: 0.05em solid #ced4da;
    padding-right: 2em;
}
.btn.dropdown-toggle::after {
    vertical-align: 0.1em;
    display: none;
}
.btn.dateBtn {
    display: inline-block;
    background-color: #EFEFEF;
    color: #000;
}
.radio.btn-group button {
    position: relative;
    width: 50%;
}
.messages p {
    margin-bottom: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.form-group {
    margin-bottom: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
/*==============================================================*/

/*BS4 dropdown-select v0.9
/*Copyright 2018, David Huang(for NCCU only)
/*==============================================================*/
select.dropdown-select {
    visibility: hidden!important;
    position: absolute!important;
    width: 0!important;
    height: 0!important;
    opacity: 0!important
}
.dropdown-select {
    padding: 0;
    border-radius: 1em;
    border: 0
}
.dropdown-select button.dropdown-toggle.default .option-selected, .dropdown-select button.dropdown-toggle.default::after {
    color: #818182;
}
.dropdown-select .option-selected {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}
.dropdown-select .dropdown-menu {
    position: fixed;
    top: 40vh;
    left: 0;
    right: 0;
    height: 60vh;
    width: 100%;
    z-index: 9999
}
.dropdown-select .dropdown-menu .search-box {
    padding: 0.25em 0.5em 0.5em;
    display: flex
}
.dropdown-select .dropdown-menu .search-box input {
    padding-right: 2em;
    width: 100%
}
.dropdown-select .dropdown-menu .search-box input::-ms-clear {
    display: none
}
.dropdown-select .dropdown-menu .search-box .search-box-close {
    background-color: transparent;
    border: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.5em;
    width: 1.5em;
    padding-left: 0;
    cursor: pointer
}
.dropdown-select .dropdown-menu .search-box .search-box-reset {
    position: relative;
    right: 2em;
    background-color: transparent;
    padding: 0;
    border: 0
}
.dropdown-select .dropdown-menu .search-box .search-box-reset.btn:hover {
    color: #FF0000!important
}
.dropdown-select .dropdown-menu .menu-option {
    overflow-y: auto;
    max-height: 50vh;
}
.dropdown-select .dropdown-menu .menu-option li, .dropdown-select .dropdown-menu .menu-option ul {
    list-style-type: none;
    cursor: pointer;
}
.dropdown-select .dropdown-menu .menu-option ul {
    padding: 0;
    margin: 0;
}
.dropdown-select .dropdown-menu .menu-option>ul>li>a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: block;
}
.dropdown-select .dropdown-menu .menu-option>ul>li>a:hover {
    /*hovering的項目*/
    background-color: #666;
    color: #FFF!important;
    text-decoration: none;
}
.dropdown-select .dropdown-menu .menu-option>ul>li>a.active, .dropdown-select .dropdown-menu .menu-option>ul>li>a:active {
    background-color: #264B47!important;
    color: #FFF!important;
}
.dropdown-select .dropdown-menu .menu-option>ul>li>a.default {
    font-size: 1em;
    padding: 0.5em 0;
    color: #264B47;
}
.dropdown-select .dropdown-menu .menu-option>ul>li>a.level-1 {
    border-top: solid 1px #dae0e5;
    padding: 0.5em 0;
    color: #264B47;
}
.dropdown-select .dropdown-menu .menu-option>ul>li>a.level-2 {
    font-size: .9em;
    padding: 0.3em 0;
    color: #264B47;
}
.dropdown-select .dropdown-menu .menu-option>.no-result {
    padding: 0.5em 0.8em;
    font-size: 1em;
    color: #FF0000
}
@media (min-width:768px) {
    .dropdown-select .dropdown-menu {
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        height: auto;
        padding: 0
    }
    .dropdown-select .dropdown-menu .search-box {
        padding: 0.5em
    }
    .row {
        flex-wrap: nowrap;
    }
}