@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: 'KaiGen Gothic', 'Noto Sans TC', 'Noto Serif TC', sans-serif;
}
ul, li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
/*timer*/
.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5); /*wrapper background color*/
}
.timer {
    z-index: 9999;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    background-color: #ccc; /*timer background color*/
}
.wrapper.hide {
    z-index: -10000;
    background-color: transparent;
}
.wrapper.hide .timer {
    display: none;
}

/*main*/
body {
    margin: 2em;
    background-color: #F8F8F6; /*body background color*/
}
footer {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}
footer a {
    font-size: 1em;
    text-decoration: underline;
    
}
footer, footer a {
    color: #8695A3; /*footer text color*/
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
section#cart {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
a {
    text-decoration: none;
    font-size: 0.9em;
}
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}
button#submit {
    width: 10em;
    height: 3em;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 1.5em;
    border: 0.2em #8695A3 solid; /*button border line*/
    background-color: #DEDCD2; /*button color*/
    color: #65707A; /*button text color*/
}
button#submit:hover {
    border: 0.05em #264B47 solid; /*button border line -hover*/
    background-color: #264B47; /*button color -hover*/
    color: #FFFFFF; /*button text color -hover*/
}
.hide {
    display: none;
}
.grid {
    width: 100%;
    margin-bottom: 0.5em;
}
.title {
    width: 100%;
    margin-top: 0.8em;
    padding: 0.5em;
    padding-bottom: 0;
    font-size: 2em;
    font-weight: 500;
}
.info {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 1em;
    border-bottom: 0.02em #8695A3 solid; /*border line*/
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
}
.info p {
    margin-bottom: 1em;
}
.info p:nth-last-child(1) {
    margin-bottom: 0;
}
#info > .title {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-bottom: 0.02em #8695A3 solid; /*border line*/
}
#timer {
    font-size: 0.6em;
    line-height: 1.5em;
}
#fulfilled {
    margin-left: 2em;
    font-size: 0.6em;
    line-height: 1.5em;
}
#fulfilled.fulfilled {
    color: #4A8007;
    font-weight: 700;
}
#fulfilled>em, #totalFixed>em {
    font-style: normal;
    font-size: 1.2em;
    font-weight: 1000;
    color: #CC3333;
}
#totalFixed>em {
    font-size: 1em;
}
.formRow .infoIn {
    text-align: left;
    border: 0.05em #8695A3 solid;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 0.2em;
}
.grid .formRow .radioRow {
    display: flex;
    flex-direction: row;
}
.grid .formRow .radioRow .dateBtn {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    text-align: center;
    background-color: #DEDCD2;
    border: 0.05em #8695A3 solid;
}
.grid .formRow .radioRow .dateBtn:hover {
    background-color: #708777;
    color: #FFFFFF;
}
.grid .formRow .radioRow .dateBtn.active {
    color: #FFFFFF;
    background-color: #264B47;
    border: 0.05em #264B47 solid;
    cursor: default;
}
.grid .formRow .radioRow .dateBtn[disabled] {
    opacity: 0.3;
    background-color: #DEDCD2;
    color: #AAA;
    cursor: default;
}
/*product container*/
.container {
    display: flex;
    justify-content: center;
    /*主軸-H*/
    flex-wrap: wrap;
    margin-bottom: 1.5em;
    border-left: 0.02em #8695A3 solid;
    border-right: 0.02em #8695A3 solid;
    margin-left: -0.02em;
    margin-right: -0.02em;
    width: 14em;
}
.container>* {
    justify-content: center;
    /*主軸-H*/
    width: 100%;
    margin: 0.5em 0.5em 0;
}
.container>*:nth-last-child(1) {
    margin: 0.5em;
}
.container .pic {
    height: 10em;
}
.container .pic img {
    width: 100%;
    height: 100%;
}
.container .goods, .price {
    text-align: center;
    overflow: hidden;
}
.container .goods {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.container .price {
    font-size: 1.2em;
}
.container .price .priceText::before {
    content: '$';
}
.container .orderContainer .meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 100%;
    margin-bottom: 0.5em;
}
.container .orderContainer .meta>* {
    font-size: 0.75em;
    height: 3em;
    width: 100%;
    background-color: #D9F3D6;
    border: 0.05em #8695A3 solid;
    border-radius: 0.2em;
    color: #597249;
    cursor: default;
    font-weight: 500;
}
.container .orderContainer .meta .disabled {
    background-color: #FFC9C9;
    color: #FF0000;
}
.container .orderContainer .order {
    display: flex;
    flex-wrap: wrap;
    height: 2em;
}
.container .orderContainer .order>* {
    border: 0.05em #8695A3 solid;
}
.container .orderContainer .order * {
    text-align: center;
}
.container .orderContainer .order .quantity {
    height: 100%;
    width: 4em;
    margin: 0;
    border: 0.05em #8695A3 solid;
    font-size: 1.2em;
}
.container .orderContainer .order .quantity[type="number"] {
    -moz-appearance: textfield;
}
.container .orderContainer .order .quantity[type="number"]::-webkit-inner-spin-button, .container .orderContainer .order .quantity[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
.container .orderContainer .order .dec,
.container .orderContainer .order .inc {
    width: 3em;
    font-size: 0.8em;
}
.container .orderContainer .order .dec,
.container .orderContainer .order .inc,
.cartBtn.dec,
.cartBtn.inc {
    background-color: #DEDCD2;
}
.container .orderContainer .order .dec {
    border-radius: 3em 0 0 3em;
}
.container .orderContainer .order .inc {
    border-radius: 0 3em 3em 0;
}
.container .orderContainer .order .remove {
    margin-left: 0.4em;
    border-radius: 0.2em;
    width: 2em;
}
.container .orderContainer .order .remove,
.cartBtn.remove {
    background-color: #EBADAD;
}
.container .orderContainer .order .remove:hover,
.cartBtn.remove:hover {
    background-color: #CC3333;
    color: #FFFFFF;
}
.container .orderContainer .order .dec:hover,
.container .orderContainer .order .inc:hover,
.cartBtn.dec:hover,
.cartBtn.inc:hover {
    background-color: #264B47;
    color: #FFFFFF;
}
/* products quantity */

/*validate text*/

.help-block.error {
    /*錯誤提示文字*/
    color: #FF0000;
    font-size: 0.8em;
    font-weight: 500;
}
.help-block.error.memberText {
    color: #597249;
}
.has-success {
    /*正確欄位*/
    background-color: #D9F3D6;
}
.has-error {
    /*錯誤欄位*/
    background-color: #FFC9C9;
}
.zero {
    background-color: #FFC9C9;
}
/*cart table*/

table {
    margin-top: 1em;
    margin-bottom: 3em;
    border-collapse: collapse;
}
tr {
    height: 3em;
    line-height: 3em;
    border-bottom: 0.05em #8695A3 solid;
    background-color: #FFFFFF;
}
tr.tr-hide {
    display: none;
}
th {
    background-color: #264B47;
    color: #FFFFFF;
}
tr:hover {
    background-color: #FFC;
    font-weight: 700;
}
td {
    height: 100%;
    width: 20%;
    text-align: center;
}
tr td div {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr td div>* {
    display: flex;
    height: 100%;
    width: 100%;
    border: 0.05em #8695A3 solid;
    border-radius: 0.2em;
}
/*fixed items*/
.cart-fixed:hover #totalFixed::after {
    content: '｜點我跳到結帳區';
}
#totalFixed:hover::after {
    content: '｜點我跳到結帳區';
}

@media only screen and (min-width: 768px) {
    #fulfilled {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 0.5em;
    }
    .grid .formRow {
        display: grid;
        grid-template-rows: 3em;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        /*交叉軸-V*/
    }
    .grid .formRow .infoIn {
        grid-column: 2 / 5;
    }
    .grid .formRow select.chosen-select {
        grid-column: 2 / 5;
    }
    .grid .formRow .radio {
        grid-column: 2 / 5;
    }
    /*validate - form info row*/
    .grid .formRow .messages {
        grid-column: 5 / 7;
    }
    .grid .formRow label {
        text-align: right;
        margin-right: 0.75em;
    }
    .grid .formRow .help-block.error {
        margin-left: 0.4em;
    }
    .section-fixed li>ul {
        display: none;
    }
    .section-fixed:hover ul li {
        opacity: 1;
        border-radius: 0.5em 0.5em 0 0;
    }
    table {
        width: 80%;
    }
}
@media only screen and (max-width: 768px) {
    main {
        margin-top: 8em;
        margin-bottom: 10em;
    }
    .grid {
        display: flex;
        justify-content: center;
        /*主軸-H*/
        flex-direction: column;
    }
    .grid * {
        width: 100%;
    }
    .grid .formRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*主軸-H*/
        align-items: center;
        /*交叉軸-V*/
        padding: 0.25em;
        margin: 0.25em 0 0.25em;
    }
    .grid .formRow .radio {
        display: flex;
        flex-direction: column;
    }
    /*validate - form info row*/
    .grid .formRow .infoIn+.messages, .grid .formRow .chosen-container+.messages, .grid .formRow .radio+.messages {
        align-items: center;
        /*交叉軸-V*/
    }
    .grid .formRow label {
        padding-left: 0.5em;
        margin-bottom: 0.5em;
        width: 100%;
    }
    .grid .formRow .help-block.error {
        padding-left: 0.5em;
        margin-top: 0.5em;
    }
    table {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    #timer,
    #navBtn {
        display: none;
    }
    /*fixed-container*/
    .fixed-container {
        /*fixed items*/
        height: auto;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 2em;
        right: 2em;
        z-index: 100;
    }
    .fixed-container * {
        text-align: center;
    }
    .fixed-container .timer-fixed {
        display: flex;
        justify-content: flex-end;
        margin-bottom: -0.5em;
        padding: 0.5em;
    }
    /*cart-fixed*/
    .cart-fixed {
        padding: 0.5em;
    }
    .cart-fixed>.fixed {
        padding: 0.5em;
        display: block;
        opacity: 0.9;
        color: #000000;
        font-weight: 700;
    }
    .cart-fixed .fixed:hover {
        font-weight: 1000;
        opacity: 1;
    }
    .cart-fixed:hover .fixed {
        font-weight: 1000;
        opacity: 1;
    }
    .cart-fixed .bg {
        box-shadow: 0.05em 0.05em #DEDCD2;
    }
    .cart-fixed:hover .bg {
        border: 0.05em #264B47FF solid;
    }
    .cart-fixed .bg {
        border: 0.05em #264B473F solid;
        border-radius: 0.5em;
    }
    .cart-fixed .bg:hover {
        opacity: 1;
        border: 0.05em #264B47FF solid;
    }
    /*section-fixed*/
    .section-fixed {
        padding: 0.5em;
        margin-top: -0.5em;
    }
    .section-fixed:hover {
        opacity: 1;
        border-radius: 0.5em 0.5em 0 0;
    }
    .section-fixed>ul {
        box-shadow: 0.05em 0.05em #DEDCD2;
        border-radius: 0.5em;
    }
    .section-fixed li>ul:hover {
        display: block;
        position: relative;
        right: 0em;
    }
    .section-fixed:hover li>ul {
        display: block;
        position: relative;
        right: 0em;
    }
    .section-fixed>ul>.fixed {
        display: block;
        padding: 0.5em;
        opacity: 0.9;
        color: #000000;
        font-weight: 700;
        font-size: 0.9em;
    }
    .section-fixed>ul>li a {
        display: block;
        padding: 0.5em;
        opacity: 0.9;
        color: #000000;
        font-weight: 700;
        border-radius: 0;
    }
    .section-fixed>ul>li>ul>li:nth-last-child(1) a {
        border-radius: 0 0 0.5em 0.5em;
    }
    .section-fixed li.bg {
        background-color: #DEDCD2;
    }
    .section-fixed li li a.bg {
        background-color: #DEDCD2;
    }
    .section-fixed li li a.bg:hover {
        color: #FFFFFF;
        background-color: #264B47;
    }
    .section-fixed .bg {
        border: 0.05em #264B473F solid;
    }
    .section-fixed .fixed.bg {
        border-radius: 0.5em;
    }
    .section-fixed:hover .fixed.bg {
        border-radius: 0.5em 0.5em 0 0;
    }
    .section-fixed .bg:hover {
        opacity: 1;
        border: 0.05em #264B47FF solid;
        color: #FFFFFF;
        background-color: #264B47;
    }
    nav li a.zero {
        background-color: #FFC9C9;
    }
    nav li a.nonZero {
        background-color: #D9F3D6;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        top: 0;
        left: 0;
    }
    h1 {
        margin: 0;
        padding-top: calc(1em / 1.5);
        padding-bottom: calc(1em / 1.5);
        padding-left: calc(2em / 1.5);
        padding-right: calc(2em / 1.5);
        font-size: calc(1em * 1.5);
        line-height: calc(2em / 1.5);
        width: 100%;
        font-weight: 700;
        background-color: #DEDCD2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    h1 span {
        font-weight: 500;
    }
    button#navBtn {
        position: fixed;
        top: 1em;
        right: 2em;
        height: 2em;
        width: 2em;
        border: 0.05em #8695A3 solid;
        background-color: #DEDCD2;
        text-align: center;
        border-radius: 0.2em;
    }
    button#navBtn:hover {
        background-color: #708777;
        border: 0.05em #264B47 solid;
        color: #FFFFFF;
    }
    button#navBtn.active {
        background-color: #264B47;
        border: 0.05em #264B47 solid;
        color: #FFFFFF;
    }
    nav {
        display: none;
        position: fixed;
        width: 100%;
    }
    nav.active {
        display: block;
    }
    nav * {
        width: 100%;
    }
    nav li {
        display: flex;
        background-color: #DEDCD2;
    }
    nav li.bg {
        display: none;
    }
    nav .timer-fixed {
        display: none;
    }
    nav a {
        color: #000000;
        padding-left: calc(2em / 1);
        height: calc(2em / 1);
        width: 100%;
        line-height: calc(2em / 1);
        font-size: calc(1em * 1);
    }
    nav li:hover {
        background-color: #264B47;
    }
    nav a:hover {
        color: #FFFFFF;
        font-weight: 700;
    }
    nav li a.zero {
        color: #000000;
        background-color: #FFC9C9;
    }
    nav li a.nonZero {
        color: #000000;
        background-color: #D9F3D6;
    }
    /*
    nav li:hover>a[href="#cart"] {
        background-color: #8695A3;
    }
    nav a[href="#cart"]:hover {
        color: #000000;
        font-weight: 700;
    }
    */
}
/*CSS drop-down list*/

/* @group Base */

.chosen-container {
    grid-column: 2 / 5;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    /*整個欄位內的font-size*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chosen-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 100%;
    border: 0.05em #8695A3 solid;
    /*下拉選單邊框*/
    border-top: 0;
    background: #ccc;
    /*下拉選單色彩*/
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    /*下拉選單陰影*/
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    /*下拉選單陰影*/
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
    clip-path: inset(100% 100%);
}
.chosen-container.chosen-with-drop .chosen-drop {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
}
.chosen-container a {
    cursor: pointer;
}
/* @end */

/* @group Single Chosen */

.chosen-container-single .chosen-single {
    /*選擇欄位*/
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 100%;
    /*!!!!!欄位高度!!!!!!*/
    border: 0.05em #8695A3 solid;
    /*!!!!!欄位邊框!!!!!!*/
    border-radius: 0.2em;
    background-color: #fff;
    padding: 0.5em;
    background-clip: padding-box;
    color: #264B47;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    /*選擇框內字體高度*/
}
.chosen-container-single .chosen-default {
    color: #777;
    /*選擇框內(placeholder)字體顏色*/
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 20;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
    /*搜尋框*/
    margin: 0.05em 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 0.05em solid #aaa;
    font-size: 1em;
    line-height: normal;
    border-radius: 3px;
}
.chosen-search input[readonly] {
    display: none;
}
.chosen-container-single .chosen-drop {
    margin-top: -0.05em;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
/* @group Results */

.chosen-container .chosen-results {
    color: #264B47;
    /*選項文字顏色*/
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 12em;
    /*下拉式選單最大高度*/
    -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 1em;
    /*選項行高*/
    word-wrap: break-word;
    /*選項是否分行*/
    -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
    /*有效項目*/
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
    /*禁用項目*/
    display: list-item;
    color: #bbb;
    cursor: default;
}
.chosen-container .chosen-results li.highlighted {
    /*hovering的項目*/
    background-color: #666;
    color: #fff;
}
.chosen-container .chosen-results li.no-results {
    /*搜尋無結果*/
    color: #FFFFFF;
    /*no-results color*/
    display: list-item;
    background: #EB7A77;
    /*no-results background*/
}
.chosen-container .chosen-results li em {
    /*匹配字眼*/
    font-style: normal;
    font-weight: 1000;
}